<launch>

  <arg name="stateEstimationTopic" default="/state_estimation"/>
  <arg name="depthCloudTopic" default="/airsim_node/drone0/cam/DepthCloud"/>
  <arg name="depthCloudDelay" default="0"/>
  <arg name="depthCamPitchOffset" default="0"/>
  <arg name="depthCamXOffset" default="0.3"/>
  <arg name="depthCamYOffset" default="0"/>
  <arg name="depthCamZOffset" default="0"/>
  <arg name="trackingCamBackward" default="false"/>
  <arg name="trackingCamXOffset" default="0"/>
  <arg name="trackingCamYOffset" default="0"/>
  <arg name="trackingCamZOffset" default="0"/>
  <arg name="trackingCamScale" default="1.0"/>
  <arg name="vehicleX" default="0"/>
  <arg name="vehicleY" default="0"/>
  <arg name="vehicleZ" default="4.0"/>
  <arg name="vehicleYaw" default="0"/>
  <arg name="use_gazebo" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="world_name" default="office"/>
  <arg name="config" default="outdoor"/>
  <arg name="realtime_factor" default="1.0"/>

  <include file="$(find-pkg-prefix ps3joy)/launch/ps3.launch" />
  
  <include file="$(find-pkg-prefix airsim_utils)/launch/depth_image_proc.launch" />

  <node pkg="airsim_utils" name="airsim_bridge" type="airsim_bridge.py" output="screen" />

  <include file="$(find-pkg-prefix local_planner)/launch/local_planner_$(var config).launch" >
    <arg name="stateEstimationTopic" value="$(var stateEstimationTopic)" />
    <arg name="depthCloudTopic" value="$(var depthCloudTopic)" />
    <arg name="depthCloudDelay" value="$(var depthCloudDelay)" />
    <arg name="depthCamPitchOffset" value="$(var depthCamPitchOffset)" />
    <arg name="depthCamXOffset" value="$(var depthCamXOffset)" />
    <arg name="depthCamYOffset" value="$(var depthCamYOffset)" />
    <arg name="depthCamZOffset" value="$(var depthCamZOffset)" />
    <arg name="trackingCamBackward" value="$(var trackingCamBackward)" />
    <arg name="trackingCamXOffset" value="$(var trackingCamXOffset)" />
    <arg name="trackingCamYOffset" value="$(var trackingCamYOffset)" />
    <arg name="trackingCamZOffset" value="$(var trackingCamZOffset)" />
    <arg name="trackingCamScale" value="$(var trackingCamScale)" />
  </include>

  <include file="$(find-pkg-prefix vehicle_simulator)/launch/vehicle_simulator.launch" >
    <arg name="sensorPitch" value="$(var depthCamPitchOffset)" />
    <arg name="vehicleX" value="$(var vehicleX)" />
    <arg name="vehicleY" value="$(var vehicleY)" />
    <arg name="vehicleZ" value="$(var vehicleZ)" />
    <arg name="vehicleYaw" value="$(var vehicleYaw)" />
    <arg name="use_gazebo" value="$(var use_gazebo)" />
    <arg name="gui" value="$(var gazebo_gui)" />
    <arg name="world_name" value="$(var world_name)" />
    <arg name="realtime_factor" value="$(var realtime_factor)" />
  </include>

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizAA" args="-d $(find-pkg-prefix vehicle_simulator)/rviz/vehicle_simulator_airsim.rviz" respawn="true"/>

  <node pkg="tf" type="static_transform_publisher" name="vehicleTransPublisher" args="0 0 0 -1.5707963 0 -1.5707963 /vehicle /rgbd_camera 1000"/>

</launch>
