<launch>

  <node pkg="waypoint_example" exec="waypointExample" name="waypointExample" output="screen">
    <param name="waypoint_file_dir" value="$(find-pkg-prefix waypoint_example)/data/waypoints.ply" />
    <param name="waypointXYRadius" value="2.0" />
    <param name="waypointZBound" value="5.0" />
    <param name="waitTime" value="0" />
    <param name="frameRate" value="5.0" />
    <param name="speed" value="2.0" />
    <param name="sendSpeed" value="true" />
  </node>

</launch>
